# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
fitness.db
your_folder_name/
# Virtual environment
venv/
.env

# VS Code and IDE settings
.vscode/
.idea/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
coverage.xml
.cache/

# Pytest
.pytest_cache/

# Pydantic cache
*.pyd
